<%- include('./includes/header.ejs') %>
  <div class="wrapper">
        <div class="user-page">
            <div class="user-page__picture">
                <a href="/edit">
                <img src="/images/profile/<%= user.image %>" alt="user profile picture">
                </a>
            </div>
            <div class="user-page__information">
                <h4>Name: <%= user.firstMane %> <%= user.lastName%></h4>
                
            </div>
        </div>
    </div>
 <!--Footer Here  -->
<%- include('./includes/footer.ejs') %>
