<%- include('./includes/header.ejs') %>
  <div class="wrapper">
        <div class="user-page">
            <div class="user-page__picture">
                <a href="/edit">
                <img src="/images/profile/<%= user.image %>" alt="user profile picture">
                </a>
            </div>
            <div class="user-page__information">
                <h4>User Information</h4>
                <table>
                    <tr>
                        <td>Name</td>
                        <td><%= user.firstName %> <%= user.lastName %></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><%= user.email%></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><%= user.phoneNumber %></td>
                    </tr>
                    <tr>
                        <td>School</td>
                        <td><%= user.school %></td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td><%= user.district %></td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td><%= user.region %></td>
                    </tr>
                    <tr>
                        <td>Subjects</td>
                        <td><%= user.subjects %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 <!--Footer Here  -->
<%- include('./includes/footer.ejs') %>
